.Rproj.user
.Rhistory
.RData
.Ruserdata
/project.Rproj
project.Rcheck/
project*.tar.gz
project*.tgz
inst/doc
surveysquared.Rcheck/
surveysquared*.tar.gz
surveysquared*.tgz
AnalyzeSurveys.Rcheck/
AnalyzeSurveys*.tar.gz
AnalyzeSurveys*.tgz
